#resume-section {
  height: 500px;
  #resumeContainer {
    display: inline-block;
    margin-top: 140px;
    width: 40%;
    a, a:link, a:visited {
      text-decoration: none;
      color: inherit;
    }
    .viewOnline {
      display: inline-block;
      float: left;
      span {
        display: block;
        margin-top: 10px;
        font-size: 20px;
        font-family: Raleway;
      }
    }
    .downloadResume {
      display: inline-block;
      float: right;
      svg {
        float: left;
        margin-left: 47px;
      }
      span {
        display: block;
        margin-top: 10px;
        font-size: 20px;
        font-family: Raleway;
      }
    }
  }
}
