html,body {
	width:100%;
	height:100vh;
	margin:0px;
	overflow-y: hidden;
}

#canvas {
	width:100%;
	height:100vh;
}

.quoteContainer {
	position: absolute;
	top:0px;
	left:28%;
	display: none;
	font-size:20px;
	width:44%;
	border-radius:4px;
	background:url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	padding:20px;
	display: inline-block;
	background: rgba(0,0,0,0.9);
}

.quoteText {
	font-family:Simonetta;
	font-size:30px;
}

.quoteAuthor {
	float:right;
	font-family: Handlee;
	font-weight:bold;
}

.name {
	float:right;
}
	
.dash {
	float:left;
	margin-top:13px;
	background:#C2C2C2;
	width:46px;
	height:3px;
}

.tweet {
	float:left;
	cursor:pointer;
}

.next {
	float:right;
	cursor:pointer;
}
