
html,body {
	width:100%;
	height:100vh;
	margin:0px;
}

.header {
	width:100%;
	height:80px;
	font-size:40px;
	text-align:center;
	line-height:80px;
	background:#F41E2D;
	font-family:Molle;
	border-bottom:2px solid #2F65FE;
}

.board {
	width:80%;
	min-height:70vh;
	padding:20px;
	background:#F5F5F5;
}

.eventInput{
	margin-top:40px;	
	width:40%;
	background:none;
	border:0px;
	outline-width:0px;
	border-bottom:2px solid #5C5C5C;
	font-family: Reem Kufi;
	font-size: 20px;
	text-align: center;
}

.addEventButton {
	display:inline-block;
	border:2px solid #2F65FE;
	padding:8px;
	border-radius: 6px;
	font-weight:bold;
	font-family: Reem Kufi;
	margin-left:20px;	
	cursor:pointer;
	transition:background 0.2s;
}

.addEventButton:hover {
	background: #2F65FE;
}

.eventBox{
	margin-top:20px;
	background: #F8F8F8;
}

.emptyTask{
	display: inline-block;
	margin-top:40px;
	font-size:26px;
	font-family:Reem Kufi;
	color:#8C8C8C;
}

.eventText{
	display:inline-block;
	width:80%;
	font-size:30px;
	font-family: Reem Kufi;
}

.completed {
	color:#D6D5D5;
}

.eventCompletedContainer,.eventRemoveContainer {	
	display: inline-block;
	width:3%;
	margin-left:10px;
}

.completedEvent,.deleteEvent {
	display:none;
	color:#D6D5D5;
	cursor:pointer;	
	margin-left:20px;
}

.eventBox:hover .completedEvent{
	display:inline-block;
}

.eventBox:hover .deleteEvent{
	display:inline-block;
}

.copyright {
	margin-top:24px;
}

.name {
	display: inline-block;
	background:#262626;
	color:white;
	border-radius:10px;
	font-size:14px;
	font-family:Molle;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
}

.heart {
	color:#FF0825;
}