@import "colorDefinations";

@media only screen and (max-width: 750px) {
  #intro-section {
    #intro-box {
      padding-bottom: 175px !important; 
    }
    #art-image-container {
      display: none;
    }
  }
  #about-section {
    #skill-container {
      width: 450px;
      left: calc(50% - 225px);
      #skill-content-container {
        .skill-items-container {
          .skill-item-container {
            width: 90px !important;
          }
        }
      }
    }
  }
  #resume-section {
    #resume-content-container {
      #resume-content {
        #view-online, #download {
          padding: 100px 60px !important;
        }
      }
    }
  }
  #contact-section {
    #contact-form-container {
      width: 500px !important;
    }
  }
}

@media only screen and (max-width: 520px) {
  #about-section {
    #skill-container {
      width: 90%;
      left: 5%;
      #skill-content-container {
        .skill-items-container {
          .skill-item-container {
            width: 80px !important;
            margin: 10px !important;
            .skill-name {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }
  #projects-section {
    #projects-header-container {
      #project-header {
        #heading {
          padding: 10px !important;
          font-size: 18px !important;
        }
      }
    }
    #projects-container {
      #projects-content-container {
        a, a:link, a:visited {
          width: 94%;
          margin: 20px 3% !important;
        }
      }
    }
  }
  #resume-section {
    #resume-content-container {
      #resume-content {
        #view-online, #download {
          padding: 100px 20px !important;
        }
      }
    }
  }
  #contact-section {
    #contact-form-container {
      width: 94% !important;
    }
  }
}
